<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.EnterpriseQuestionDao">

    <select id="findByPage" parameterType="com.example.demo.entity.ReceiveEntity"
            resultType="com.example.demo.entity.Problem">
        select * from problem
        where unit = #{userUnit}
        ORDER BY time desc LIMIT #{page},#{number}
    </select>

    <delete id="deleteQuestion" parameterType="java.lang.Integer">
        delete from problem where id = #{id}
    </delete>

    <insert id="addQuestion" parameterType="com.example.demo.entity.Problem">
        insert into problem
        (name,title,content,unit,problemType,answer,remark,time,unitName,selectKey,type,score)
        VALUES
        (#{name},#{title},#{content},#{unit},#{problemType},#{answer},#{remark},#{time},#{unitName},#{selectKey},#{type},#{score})
    </insert>

    <select id="findQuestionById" parameterType="java.lang.Integer"
            resultType="com.example.demo.entity.Problem">
        select * from problem where id = #{id}
    </select>

    <update id="updateQuestion" parameterType="com.example.demo.entity.Problem">
        update problem
        set
        name=#{name},
        title=#{title},
        content=#{content},
        unit=#{unit},
        problemType=#{problemType},
        answer=#{answer},
        remark=#{remark},
        time=#{time},
        unitName=#{unitName},
        selectKey = #{selectKey},
        type = #{type},
        score = #{score}
        where
        id = #{id}
    </update>

    <select id="findQuestionNumber" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(*) from problem where unit = #{id}
    </select>

    <!--<select id="findQuestionByKey" parameterType="java.lang.String"  resultType="com.example.demo.entity.Problem">-->
        <!--select * from problem where selectKey like #{keys}-->
    <!--</select>-->

    <select id="findAllQuestionByKey" parameterType="com.example.demo.entity.ReceiveEntity"  resultType="com.example.demo.entity.Problem">
        select * from problem where name like #{remark} and  unit = #{userUnit}
        union
        select * from problem where title like #{remark} and  unit = #{userUnit}
        union
        select * from problem where content like  #{remark} and  unit = #{userUnit}
         union
        select * from problem where unitName like #{remark} and  unit = #{userUnit}
        union
        select * from problem where problemType like #{remark} and  unit = #{userUnit}
        union
        select * from problem where type like #{remark} and  unit = #{userUnit}
        ORDER BY time
    </select>

    <select id="findQuestionByKey" parameterType="com.example.demo.entity.ReceiveEntity"  resultType="com.example.demo.entity.Problem">
        select * from problem where name like #{remark} and  unit = #{userUnit}
        union
        select * from problem where title like #{remark} and  unit = #{userUnit}
        union
        select * from problem where content like  #{remark} and  unit = #{userUnit}
         union
        select * from problem where unitName like #{remark} and  unit = #{userUnit}
        union
        select * from problem where problemType like #{remark} and  unit = #{userUnit}
        union
        select * from problem where type like #{remark} and  unit = #{userUnit}
        ORDER BY time LIMIT #{page},#{number}
    </select>

    <select id="findAN" resultType="java.lang.Integer">
        select count(*) from problem
        where unit = -1 and selectKey like #{remark}
    </select>

    <select id="findEN" resultType="java.lang.Integer">
        select count(*) from problem
        where unit != -1 and selectKey like #{remark}
    </select>

    <select id="findAQ" resultType="com.example.demo.entity.Problem">
        select * from problem
        where unit = -1 and selectKey like #{remark}
        ORDER BY time desc LIMIT #{page},#{number}
    </select>

    <select id="findEQ" resultType="com.example.demo.entity.Problem">
        select * from problem
        where unit != -1 and selectKey like #{remark}
        ORDER BY time desc LIMIT #{page},#{number}
    </select>
</mapper>