<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.EnterpriseQuestionDao">

    <select id="findByPage" parameterType="com.example.demo.entity.ReceiveEntity"
            resultType="com.example.demo.entity.Problem">
        select * from problem ORDER BY time LIMIT #{page},#{number}
    </select>

    <delete id="deleteQuestion" parameterType="java.lang.Integer">
        delete from problem where id = #{id}
    </delete>

    <insert id="addQuestion" parameterType="com.example.demo.entity.Problem">
        insert into problem
        (name,title,content,unit,problemType,answer,remark,time,unitName)
        VALUES
        (#{name},#{title},#{content},#{unit},#{problemType},#{answer},#{remark},#{time},#{unitName})
    </insert>

    <select id="findQuestionById" parameterType="java.lang.Integer"
            resultType="com.example.demo.entity.Problem">
        select * from problem where id = #{id}
    </select>
</mapper>