<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.EnterpriseTalentDao">

    <select id="findTalentList" parameterType="com.example.demo.entity.ReceiveEntity" resultType="com.example.demo.entity.Talent">
        select * from talent_pool
        where unit = #{userUnit} and selectKey like #{remark}
        ORDER BY time desc LIMIT #{page},#{number}
    </select>

    <insert id="addTalent">
        insert into talent_pool
        (name,unit,sex,education,school,grade,remark,selectKey,time,cardId,age,telphone,email)
        VALUES
        (#{name},#{unit},#{sex},#{education},#{school},#{grade},#{remark},#{selectKey},#{time},#{cardId},#{age},#{telphone},#{email})
    </insert>

    <update id="updateTalent">
        update talent_pool
        set
        name=#{name},
        unit=#{unit},
        sex=#{sex},
        remark=#{remark},
        education=#{education},
        school=#{school},
        grade = #{grade},
        selectKey = #{selectKey},
        time = #{time},
        cardId = #{cardId},
        age = #{age},
        telphone = #{telphone},
        email = #{email}
        where
        id = #{id}
    </update>

    <delete id="deleteTalent">
        delete from talent_pool
        where id = #{targetID}
    </delete>

    <select id="findTalentNumber" parameterType="com.example.demo.entity.ReceiveEntity" resultType="java.lang.Integer">
        select count(*) from talent_pool
        where unit = #{userUnit} and selectKey like #{remark}
    </select>

    <select id="findTalent" resultType="com.example.demo.entity.Talent">
        select * from talent_pool
        where id = #{targetID}
    </select>

    <select id="findExamByTalentId" parameterType="com.example.demo.entity.ReceiveEntity" resultType="com.example.demo.entity.UserAndExam">
        select userId from test_person
        where examinationId = #{targetID}
    </select>

    <select id="findTalentSimpleQuestion" parameterType="com.example.demo.entity.ReceiveEntity" resultType="com.example.demo.entity.TestAnswer">
        select * from test_answer
        where personId = #{targetID}
        and
        type = "问答题"
    </select>

    <update id="updateTestAnswer">
        update test_answer
        set
        personId=#{personId},
        testId=#{testId},
        answer=#{answer},
        remark=#{remark},
        problemId=#{problemId},
        trueAnswer=#{trueAnswer},
        grade = #{grade},
        score = #{score},
        type = #{type},
        title = #{title}
        where
        id = #{id}
    </update>

    <select id="getTalentGrade" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select
        grade
        from test_answer
        where personId = #{personId}
    </select>

    <update id="updateUserGrade">
        update talent_pool
        set
        grade = #{grade}
        where
        id = #{id}
    </update>

    <select id="findTalentByExamId" parameterType="com.example.demo.entity.ReceiveEntity" resultType="com.example.demo.entity.Talent">
        select
        *
        from talent_pool
        where testId = 118
    </select>

    <insert id="savePicture">
         insert into picture
        (talentId)
        value
        (#{talentId})
    </insert>
</mapper>