<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.EnterpriseDao">

    <select id="getUnitByName" parameterType="java.lang.String" resultType="java.lang.String">
        select userUnit from user where userName = #{userName}
    </select>

    <select id="getUnitID" parameterType="java.lang.String" resultType="java.lang.String">
        select name from enterprise where id = #{id}
    </select>

    <select id="findAllEnterprise" resultType="com.example.demo.entity.Enterprise">
        select * from enterprise
    </select>

    <update id="changeRecommend" parameterType="com.example.demo.entity.Enterprise">
         update enterprise
          set
          recommend = #{recommend}
          where
          id = #{id}
    </update>

    <select id="findPictureSrc" resultType="com.example.demo.entity.Picture">
        select * from picture
        where talentId = #{targetID}
    </select>

    <select id="getAccountNameById" resultType="com.example.demo.entity.User">
        select * from user
        where id = #{userAccountId}
    </select>

</mapper>