<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.IndividualTestDao">

    <select id="findExamByUserId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select examinationId from test_person
        where
        userAccountId =#{targetID}
    </select>

    <select id="findExamsById" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select problemId from test_question
        where testId = #{id}
    </select>

    <select id="findExam" parameterType="java.lang.Integer" resultType="com.example.demo.entity.Problem">
        select * from problem
        where id = #{id}
    </select>

    <update id="setUserGrade">
        update talent_pool
        set
        grade=#{grade}
        where
        id = #{id}
    </update>

    <select id="findExamTimeByUserId" parameterType="java.lang.Integer" resultType="com.example.demo.entity.Examination">
        select * from examination
        where
        id =#{targetID}
    </select>

    <select id="findTalent" parameterType="java.lang.Integer" resultType="com.example.demo.entity.Talent">
        select
        name,sex,age,cardId,education,school
        from talent_pool
        where
        id =#{targetID}
    </select>

    <update id="updateTalent">
        UPDATE talent_pool set
        name = #{name},
        sex = #{sex},
        age = #{age},
        cardId = #{cardId},
        education = #{education},
        school = #{school}
        where
        id = #{id}
    </update>

    <insert id="saveUserAnswer">
        insert into test_answer
        (personId,testId,answer,remark,problemId,trueAnswer,score,type,title,grade)
        VALUES
        (#{personId},#{testId},#{answer},#{remark},#{problemId},#{trueAnswer},#{score},#{type},#{title},#{grade})
    </insert>

    <insert id="savePicture">
        insert into picture
        (talentId,testId,picture,type)
        VALUES
        (#{talentId},#{testId},#{picture},#{type})
    </insert>

    <update id="setUserTested">
         UPDATE user set
        userType = "4"
        where
        id = #{id}
    </update>

    <select id="findUser" parameterType="com.example.demo.entity.ReceiveEntity" resultType="com.example.demo.entity.UserAndExam">
        select
        *
        from test_person
        where
        examinationId =#{targetID}
    </select>

    <select id="findTalentId" resultType="java.lang.Integer">
        select
        userId
        from test_person
        where
        userAccountId =#{targetID}
    </select>

    <select id="findExamById" resultType="com.example.demo.entity.Examination">
        select
        *
        from
        examination
        where
        id =#{examinationId}
    </select>
</mapper>