<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.IndividualTestDao">

    <select id="findExamByUserId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select examinationId from test_person
        where
        userId =#{targetID}
    </select>

    <select id="findExamsById" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select problemId from test_question
        where testId = #{id}
    </select>

    <select id="findExam" parameterType="java.lang.Integer" resultType="com.example.demo.entity.Problem">
        select * from problem
        where id = #{id}
    </select>

    <update id="setUserGrade">
        update talent_pool
        set
        grade=#{grade}
        where
        userAccountId = #{userAccountId}
    </update>

    <select id="findExamTimeByUserId" parameterType="java.lang.Integer" resultType="com.example.demo.entity.Examination">
        select * from examination
        where
        id =#{targetID}
    </select>

    <select id="findTalent" parameterType="java.lang.Integer" resultType="com.example.demo.entity.Talent">
        select
        name,sex,age,cardId,education,school
        from talent_pool
        where
        id =#{targetID}
    </select>

    <update id="updateTalent">
        UPDATE talent_pool set
        name = #{name},
        sex = #{sex},
        age = #{age},
        cardId = #{cardId},
        education = #{education},
        school = #{school}
        where
        id = #{id}
    </update>
</mapper>