<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.UserDao">

    <select id="Login" parameterType="com.example.demo.entity.User" resultType="com.example.demo.entity.User">
        select * from user
        where
        userAccount = #{userAccount} and password = #{password}
    </select>

    <select id="finUserList" resultType="com.example.demo.entity.User">
        select * from user
        where selectKey like #{remark}
        ORDER BY id LIMIT #{page},#{number}
    </select>
    <insert id="addUser" useGeneratedKeys="true" keyProperty="id" parameterType="com.example.demo.entity.User">
        insert into user
        (userAccount,userName,userUnit,password,userTel,userEmai,userType,userTypeName,selectKey,remark,time)
        value
        (#{userAccount},#{userName},#{userUnit},#{password},#{userTel},#{userEmai},#{userType},#{userTypeName},#{selectKey},#{remark},#{time})
    </insert>
    <update id="updateUser">
        update user
        set
        userAccount=#{userAccount},
        userName=#{userName},
        password=#{password},
        userUnit = #{userUnit},
        userTel=#{userTel},
        userEmai=#{userEmai},
        userType=#{userType},
        userTypeName=#{userTypeName},
        selectKey=#{selectKey},
        remark=#{remark},
        time=#{time}
        where
        id = #{id}
    </update>
    <delete id="deleteUser">
        delete from user where id = #{targetID}
    </delete>
    <select id="findUserNumber" resultType="java.lang.Integer">
        select count(*) from user
        where selectKey like #{remark}
    </select>
    <select id="findUser" resultType="com.example.demo.entity.User">
        select * from user
        where id = #{targetID}
    </select>

    <select id="getTestId" resultType="java.lang.Integer">
        select
        testId
        from
        talent_pool
        where
        userAccountId = #{id}
    </select>

    <select id="getExamination" resultType="com.example.demo.entity.Examination">
        select
        *
        from
        examination
        where
        id = #{id}
    </select>

    <select id="getUserNameById" resultType="com.example.demo.entity.Talent">
        select * from talent_pool
        where id = #{userId}
    </select>

    <select id="getTalentId" resultType="java.lang.Integer">
        select examinationId from test_person
        where userAccountId = #{id}
    </select>
</mapper>